
custom_tools/bmpToFrame/bin/Debug/bmpToFrame.exe
custom_tools/bmpToFrame/bmpToFrame.cbp
custom_tools/bmpToFrame/obj/Debug/main.o
custom_tools/bmpToFrame/out.frame
custom_tools/bmpToFrame/bmpToFrame.depend
custom_tools/bmpToFrame/bin/Release/bmpToFrame.exe
custom_tools/bmpToFrame/obj/Release/main.o
esp32/netesp/frames/welcome.frame
custom_tools/bmpToIcon/bmpToIcon.cbp
custom_tools/bmpToIcon/bin/Debug/bmpToIcon.exe
custom_tools/bmpToIcon/bin/Release/bmpToIcon.exe
custom_tools/bmpToIcon/obj/Debug/main.o
custom_tools/bmpToIcon/obj/Release/main.o
